/* .navbar{
    height: 100px;
    display: flex;
    align-items: center;
    background-color: aqua;
    font-size: 16px;
    font-weight: 600;
    flex-wrap: nowrap;
} */

.navbar {
  background-color: #2b4d4d; /* Set the background color for the navbar */
  padding: 10px; /* Add some padding for better visibility */
  height: 50px;
}

.ul {
  list-style-type: none; /* Remove default list styles */
  margin-top: 12px;
  padding: 0;
  display: flex; /* Use flexbox to arrange list items in a row */
}

.li {
  margin-right: 20px; /* Add some spacing between list items */
}

.li:last-child {
  margin-right: 0; /* Remove margin from the last list item */
}

.a {
  text-decoration: none; /* Remove underline from links */
  color: white; /* Set the text color for links */
}

.a:hover {
  color: #ffcc00; /* Change text color on hover */
}
